*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   scroll-behavior: smooth;
   font-family: "Roboto", sans-serif;
}
/* navbar start  */
#navbar{
   background: #0f0e0e;
}
#logo{
   font-size: 36px;
   font-weight: 500;
   color: black;
   text-shadow: 0px 1px 1px black;
   margin-bottom: 5px;

}
#logo span{
color: #ffa500;

}
.navbar-toggler span{
   color: #ffa500;

}
.navbar-item .nav-link{
   font-size: 16px;
font-weight: 550;
color: rgb(195, 185, 185);
letter-spacing: 1px;
border-radius: 3px;
transition: 0.5 ease;
}
.nav-item .nav-link:hover{
   background: #ffa500;
   color: whitesmoke;

}
#navbar form button{
   background: orange;
   color: white;
   border: none;

}

/* navbar end */
/* home section start  */
.home{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(Website\ Pictures/kkkk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content{
  text-align: center;
  padding-top: 200px;

}
.home .content h5{
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;

}
.home .content h1{
  color: white;
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}
.changecontent::after{
  content: ' ';
  color: #ffa500;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
  
  }
  @keyframes changetext{
     0%{content: "France";}
     10%{content: "Spain";}
     20%{content: "United States";}
     30%{content: "China";}
     40%{content: "India";}
     50%{content: "Pakistan";}
     60%{content: "Italy";}
     70%{content: "Turkey";}
     80%{content: "Mexico";}
     90%{content: "Germany";}
     100%{content: "United Kingdom";}
  }
home. content. p{
  color: white;
font-size: 15px;
font-weight: 600;
text-shadow: 0px 1px 1px black;
margin-top: 5px;
margin-bottom: 30px;
}


.home .content a{
  padding: 10px;
  background-color: white;
  color: black;
  letter-spacing: 2px;
 font-weight:550px ;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;

}
.home .content a:hover{
  background: #ffa500;
  color: white;
}
@media (max-width:850px)
{
  .home{
     background-position: 50%;
  }
}

@media (max-width:450px)
{
  .home .content h5{font-size: 25px;

  }
  .home .content h1{
     font-size: 38px;
  }
  .home .content p{
     font-size: 13px;
  }
}




/* section book start  */
.book{
  background: #f9f9f9;
  padding: 50px;

}
.main-text h1{
  text-align: center;
  box-shadow: 0px 1px 1px black;
  font-weight: 600;
}
.main-text h1 span{
  color: #ffa500;
}
.book .card{
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
.book .row{
  margin-top: 30px;

}
.book form input{
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius:10px ;
  box-shadow: 0px 5px 5px -6px black;
}
.book .form textarea{
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 5px 5px -6px black;
  height: 200px;
}
.book .submit{
  width: 160px;
  font-size: 16px;
  font-weight: 550px
  ;
  background: #ffa500;
  color: white;
  margin-top: 10px;
  transition: 0.5s;

}
.book .submit:hover{
  width: 170px;
     }
@media (max-width:765px){
  .book{
     padding: 0;

  }
  .main-text h1{
     padding: 20px;

  }
}
/* section packg start  */
.main-text h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
text-shadow: 0px 1px 1px black;
}
.main-text h1 span{
  color: #ffa500;


}
.packages .card{
  border-radius: 5px
  ;
  border: none;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
border-radius: 5px;



}
.packages .card .card-body{
  background: transparent
  ;

}
.packages .card .card-body h3{
  font-size: 25px;
  font-weight: 600;

}
.packages .card .card-body{
  font-size: 15px;

}
.checked{
  color: #ffa500;
}
.star i{
font-size: 15px;
}
.packages .card .card-body h6{
font-size: 20px;

}
.packages .card .card-body a{
  padding: 10px;
  text-decoration: none;
  background: #ffa500;
  color: white;
  border-radius: 5px;
}
/* section services start */
.services{
  background: #f9f9f9;
margin-top: 50px;
}
.services .card{
  box-shadow:rgba(0,0,0,0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;

}
.services .card i{
  font-size: 80px;
  text-align: center;
  color: #ffa500;
margin-top: 20px;

}
.services .card .card-body h3{
  font-weight: 600;

}
.services .card .card-body{
  text-align: center;
  
}
/* sectiongallery start  */

.gallery{
  margin-top: 50px;
}
.gallery .card{
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
  cursor: pointer;
}
.gallery .card img{
  border-radius: 10px;
  transition: 0.5s;
}
.gallery .card img:hover{transform: scale(1.1);

}

.about{
  padding: 50px;
  margin-top: 50px;

  background: #f9f9f9;
}

.about .card{
  border-radius: 10px;
}
.about .card img{
  border-radius: 10px;
}
.about h2{
  font-weight: 600;
  letter-spacing: 1px;
}

.about p{
  font-weight: 500;
}
#about-btn{
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background:#ffa500;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
cursor: pointer;

}
#about-btn:hover{
  width: 170px;
}

/* mountains start ..
.mountains{
  background: #f9f9f9;
margin-top: 50px;
}
.mountains .card{
  box-shadow:rgba(0,0,0,0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;

}
/* .mountains .card i{
  font-size: 80px;
  text-align: center;
  color: #ffa500;
margin-top: 20px;

} */
/* .mountains .card .card-body h3{
  font-weight: 600;

}
.mountains .card .card-body{
  text-align: center;
  
} */



/* .. */

/* .main-text h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
text-shadow: 0px 1px 1px black;
}
.main-text h1 span{
  color: #ffa500;


} */
.mountains .card{
  border-radius: 5px
  ;
  border: none;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.mountains .card img{
border-radius: 5px;



}
.mountains .card .card-body{
  background: transparent
  ;

}
.mountains .card .card-body h3{
  font-size: 25px;
  font-weight: 600;

}
.mountains .card .card-body{
  font-size: 15px;

}
.checked{
  color: #ffa500;
}
.star i{
font-size: 15px;
}
.mountains .card .card-body h6{
font-size: 20px;

}
.mountains .card .card-body a{
  padding: 10px;
  text-decoration: none;
  background: #ffa500;
  color: white;
  border-radius: 5px;
}

/* .. */
.Contact  form input{
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius:10px ;
  box-shadow: 0px 5px 5px -6px black;
}
/* .Contact .form textarea{
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 5px 5px -6px black;
  height: 200px;
} */

.Contact .submit{
  width: 160px;
  font-size: 16px;
  font-weight: 550px
  ;
  background: #ffa500;
  color: white;
  margin-top: 10px;
  transition: 0.5s;

}
.Contact .submit:hover{
  width: 170px;
     }
/* @media (max-width:765px){
  .Contact{
     padding: 0;

  }
  .main-text h1{
     padding: 20px;

  }
} */
footer{
  background-color: #ede6e6;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
display: flex;
justify-content: center;

}
.socialIcons a{
  text-decoration: dashed;
  padding: 10px;
  background-color: black;
  margin: 10px;
  border-radius: 50px;
}
.socialIcons a i{
  font-size: 2em;
  color: white;
  opacity: 0.9;

}



.socialIcons a:hover{
  background-color: white;
  transition: 0.5s;

}
.socialIcons a:hover i{
  color: black;
  transition: 0.5s;

}
.footerNav{
  margin: 30px 0;

}
.footerNav ul{
  display: flex;
  justify-content: center;
list-style-type: none;
}
.footerNav ul li a{
  color: rgb(20, 18, 18);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: white;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: black;

}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
     flex-direction: column;
  }
  .footerNav ul li{
     width: 100%;
     text-align: center;
     margin: 10px;

  }
}


/* form popup */

.form-contact-main {
  position: relative;
}

.custom-popup {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100px;
  padding: 100px 0;
  background-color: black;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.custom-popup h1 {
  color: white;
  text-align: center;
}

.container.form-contact-main {
  overflow: hidden;
}
body {
  overflow-x: hidden;
}

button#close-popup {
  position: ABSOLUTE;
  TOP: 0;
  RIGHT: 0;
  padding: 10px 20px;
}

div#customPopup {
   width: 1100px !important;
}

@media screen and (max-width:1024px){
   #customPopup{
      width: 100%;

   }
   #customPopup h1{
      font-size: 15px;
   }

}

@media screen and (max-width:600px){
  #customPopup{
   width: 100%;

  }
  #customPopup h1{
   font-size:12px ;
  } 
}


#customPopup{
   animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }


 nav#navbar {
   z-index: 99;
}